@model JobBoard.UI.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Your Account";
}

<section class="find-job section">
    <div class="container">
        <h2 class="section-title">@ViewBag.Title</h2>
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div class="row">
            <div class="col-md-8">
                <p>
                    @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-common" })
                                : Html.ActionLink("Pick a password", "SetPassword", null, new { @class = "btn btn-common" }))
                </p>
            </div>
        </div>
    </div>
</section>
