@{
    ViewBag.Title = "Contact Tech Savvy";
}
<section class="find-job section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-title">@ViewBag.Title</h2>
            </div>
        </div>
        @Html.Partial("ContactForm")
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/contact")
}