body {
}

.form-group input[type=file] {
    opacity: 1;
    position: relative;
}

#contactConfirm {
    display: none;
}

.manage .medium-title {
    margin-bottom: 40px;
}

.btn.btn-info {
    text-transform: uppercase;
    background-color: #202020;
}

.btn.btn-info:hover,
.btn.btn-info:active {
    background-color: #303030;
}