body {
}

.navbar .navbar-brand{
    padding-top: 7px;
}

.navbar-default.affix .navbar-brand {
    padding-top: 2px;
}

.navbar-brand > img {
    max-width: 150px;
}

.slicknav_nav {
    max-height: 630px;
}

.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
    background: #FF4F57;
    color: #FFF;
}

#RememberMe {
    opacity: 1;
    position: inherit;
    margin: inherit;
    z-index: 0;
    width: unset;
    height: unset;
    overflow: visible;
    left: unset;
    pointer-events: initial;
}

#testimonial p .quote-left {
    font-size: 16px;
    margin-right: 5px;
}

#testimonial p .quote-right {
    font-size: 16px;
    margin-left: 10px;
}

.detail-company .img-thum {
    width: 68px;
}

.form-group input[type=file] {
    opacity: 1;
    position: relative;
}

#contactConfirm {
    display: none;
}

.manage .medium-title {
    margin-bottom: 40px;
}

.btn.btn-info {
    text-transform: uppercase;
    background-color: #202020;
}

.btn.btn-info:hover,
.btn.btn-info:active {
    background-color: #303030;
}

.table-card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dataTable-table > tbody > tr > td,
.dataTable-table > tbody > tr > th,
.dataTable-table > tfoot > tr > td,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > td,
.dataTable-table > thead > tr > th {
    padding: 10px;
}

.my-apps {
    margin-top: 40px;
}

.job-alerts-item {
    padding: 10px 40px;
}

.job-list {
    width: 100%;
}

.job-list-content p {
    max-width: 850px;
}

.pager {
    margin: 0;
}

.paging {
    display: flex;
    align-items: center;
}

.paging-count,
.pagination-container {
    display: inline-block;
}

.paging-count {
    height: 28px;
    margin-right: 20px;
}

.pagination-container ul {
    margin: 0;
}

.col-12 {
    padding-left: 15px;
    padding-right: 15px;
}

.job-search-box .form-control {
    height: 45px;
}

textarea.form-control {
    min-height: 150px;
    resize: vertical;
}

.job-detail .header-detail .header-content,
.job-detail .header-detail .detail-company {
    padding: 30px 30px 0 30px;
}

.resume-page .form-horizontal .control-label {
    padding-top: 0;
}

.download {
    color: #FF4F57;
    font-weight: 600;
}

.download:hover {
    text-decoration: underline;
}

.current-resume {
    padding-top: 8px;
    color: #FF4F57;
    font-size: 18px;
    font-weight: 700;
}

.current-resume:hover {
    text-decoration: underline;
}

.applications-content {
    border-bottom: none;
}

.applications-content .row {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}

.manage .dl-horizontal {
    max-width: 900px;
    margin: 10px 20px 20px 20px;
}

.manage .dl-horizontal dt {
    font-size: 18px;
}

.manage .dl-horizontal dt:after {
    content: ":";
}

.manage .dl-horizontal dd {
    font-size: 17px;
    margin-bottom: 10px;
}

.error-message {
    padding: 150px 0px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-default .navbar-nav.float-right {
        display: block;
    }
}

@media (max-width: 991px) {
    .main-navigation .float-right li a {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .job-search-box .submit {
        width: 100%;
        margin-bottom: 20px;
    }
}
