body {
}

.form-group input[type=file] {
    opacity: 1;
    position: relative;
}

#contactConfirm {
    display: none;
}

.manage .medium-title {
    margin-bottom: 40px;
}

.btn.btn-info {
    text-transform: uppercase;
    background-color: #202020;
}

.btn.btn-info:hover,
.btn.btn-info:active {
    background-color: #303030;
}

.table-card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dataTable-table > tbody > tr > td,
.dataTable-table > tbody > tr > th,
.dataTable-table > tfoot > tr > td,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > td,
.dataTable-table > thead > tr > th {
    padding: 10px;
}

.pager {
    margin: 0;
}

.col-12 {
    padding-left: 15px;
    padding-right: 15px;
}

.job-search-box .form-control {
    height: 45px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-default .navbar-nav.float-right {
        display: block;
    }
}

@media (max-width: 767px) {
    .job-search-box .submit {
        width: 100%;
        margin-bottom: 20px;
    }
}
