@{
    ViewBag.Title = "Password Reset";
}
<section class="manage section">
    <div class="container">
        <h2 class="medium-title">@ViewBag.Title</h2>
        <div class="card">
            <div class="card-body">
                <div>
                    <p>
                        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-common" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
