@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="btn-m">
            @Html.ActionLink("My Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li class="btn-m">
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="ti-lock"></i> Log Off</a>
        </li>
    }
}
else
{
    <li class="btn-m">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </li>
    <li class="btn-m">
        <a href=@Url.Action("Login", "Account")><i class="ti-lock"></i>  Log In</a>
    </li>
}
